<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content="ML Industrie est le spécialiste des formations techniques pour l'industrie.
      Nous sommes sommes experts dans les domaines suivants: formation mécanique, ainsi que formation électricité, mais aussi formation hydraulique, et également formation pneumatique, et formation régulation, formation habilitation électrique, formation automatisme, formation robot, sans oublier formation fanuc, formation Siemens, formation Schneider, formation Rockwell, et même formation commande numérique, et pour finir formation usinage"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
      defer
    />
    <link href="https://css.gg/css?=|arrow-long-right" rel="stylesheet" defer />
    <title>mlindustrie</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script
    src="https://kit.fontawesome.com/13b8c41ab2.js"
    crossorigin="anonymous"
  ></script>
</html>
