@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import "../styles/animations.scss";
@import "~bulma/css/bulma.css";
@import "../frontend/node_modules/compass-mixins/lib/compass/css3/";

@font-face {
  font-family: "Bebas_Neue";
  src: url(../styles/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../styles/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../styles/fonts/Montserrat-VariableFont_wght.ttf);
}

//      GENERAL          //

body {
  margin: 0;
}
li {
  list-style-type: none;
}
li a {
  color: #3d3c3c;
  font-size: 1.2rem;
}
li,
p {
  font-family: "Montserrat";
}
h3 {
  font-family: "Quicksand";
}

//      APP.VUE           //

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//     HEADER.VUE        //

.navbar {
  background-color: #c0c4c2;
  min-height: 6.25rem;
}
#navbarHeader:nth-child(2) {
  margin-right: 150px;
}
.navbar-item {
  flex-direction: column;
  font-family: "Bebas_Neue";
  font-size: 1.4rem;
}
.navbar-item img {
  max-height: 4.75rem;
}
.navbar-item img:nth-of-type(2) {
  margin-top: 5px;
  max-height: 0.75rem;
  width: 83%;
  @media screen and (min-width: 730px) and (max-width: 1023px) {
    width: 20%;
  }
  @media screen and (max-width: 729px) {
    width: 35%;
  }
}
.navbar-brand {
  flex-direction: column;
  min-height: 5.25rem;
  &__a {
    text-decoration: none;
  }
}

.navbar-menu {
  align-items: center;
}
#btn-inscription {
  background-color: #267a89;
}
.displayHr {
  border-top: 2px solid #267a89;
  width: 20%;
}

//     FOOTER.VUE        //

footer {
  margin-top: auto;
  background-color: #c0c4c2 !important;
}
.column {
  padding: 1.2rem;
}
.content h3 {
  margin-left: 25px;
}
.copyright {
  @include fixedBottom;
  padding: 1.2em;
  background-color: #267a89;
  @media screen and (max-width: 769px) {
    height: 100px;
  }
}
#subscribe {
  margin-top: 20px;
  background-color: #267a89;
}
#linkedin {
  font-size: 25px;
  color: #fff;
}
#mail_icon {
  color: #fff;
  font-size: 25px;
  margin-left: 30px;
}

//     HOME.VUE        //

.hero {
  color: #fff;
  background: $blue_background;
  background-color: #000;
}
.hero.is-medium .hero-body {
  padding: 2rem 4.5rem;
  @media screen and (max-width: 475px) {
    padding: 1.5rem 1.5rem;
  }
}
.hero-body {
  position: relative;
}
.hero-body h1 {
  font-size: 3em;
}
.title {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-family: "Quicksand";
}
.title:not(:last-child) {
  margin-bottom: 7rem;
}
/* .column li {
  list-style-type: "\27A1";
} */
.container {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 769px) {
    justify-content: center;
  }
}
#firstParagraph:first-letter,
#secondParagraph:first-letter,
#thirdParagraph:first-letter {
  font-size: 30px;
  color: #30616A;
}
.container_certification {
  flex-direction: column;
  font-weight: 600;
  &__flex-left {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__flex-right {
    text-align: left;
    padding: 3rem;
    background-color: #c0c4c2;
    box-shadow: rgba(96, 107, 107, 0.4) -5px 5px,
      rgba(41, 43, 43, 0.3) -10px 10px, rgba(24, 23, 23, 0.2) -15px 15px,
      rgba(20, 20, 20, 0.1) -20px 20px, rgba(3, 3, 3, 0.05) -25px 25px;
    @media screen and (max-width: 769px) {
      font-size: 0.9rem;
      padding: 1.1rem;
      margin: 1rem 1rem;
    }
    @media screen and (min-width: 769px) {
      margin: 3rem 9rem;
    }
  }
  &__flex-right p {
    padding: 1.1rem;
    font-size: larger;
  }
}
.container_certification__flex-left img {
  width: 50%;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}
.container_certification__flex-right p {
  margin: 8px;
  color: #3d3c3c;
  width: auto;
  @media screen and (max-width: 769px) {
    margin: 0px;
  }
}
.container:not(.is-max-desktop):not(.is-max-widescreen) {
  @media screen and (min-width: 1408px) {
    max-width: 1869px;
  }
}
.cont_formations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}
#img_container {
  @media screen and (max-width: 1023px) {
    order: 2;
  }
}
.flex_txt {
  @include displayMenus;
}
.flex_txt li {
  font-size: 20px;
  font-weight: 600;
}
.flex_txt img {
  border-radius: 10px;
  filter: drop-shadow(-28px -5px 23px #3d3c3c);
}
.flex_img {
  width: 500px;
  height: auto;
  filter: grayscale(100%) drop-shadow(8px 8px 10px #3d3c3c);
  border-radius: 10px;
  @media screen and (max-width: 475px) {
    height: 12rem;
  }
  @media screen and (max-width: 476px) and (max-width: 769px) {
    width: 250px;
    height: 150px;
  }
}

#atouts {
  @media screen and (min-width: 1024px) {
    margin-left: 80px;
  }
  @media screen and (max-width: 1023px) {
    order: 1;
  }
}
.gg-arrow-long-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 4));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
  //@include animateArrow;
}
.gg-arrow-long-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
}
.gg-arrow-long-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 4));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
  left: 99%;
  //@include animateArrow;
}
.gg-arrow-long-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 0;
  bottom: -2px;
}
.gg-arrow-long-down {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 4));
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  height: 24px;
  width: 6px;
  margin-left: 20px;
}

.gg-arrow-long-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 0;
  left: -2px;
  @media screen and (min-width: 1072px) {
    width: 0;
    height: 0;
    border-bottom: 0;
  }
}
#rightArrow {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 4));
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  height: 24px;
  width: 6px;
  right: 20px;
}

//     CATALOGUE.VUE        //

table {
  margin: 100px 30px;
}
.table {
  empty-cells: hide;
  border-collapse: separate;
}
.th-large {
  height: 150px;
}
th {
  width: 40px;
}
.th_blue-bg {
  background-color: #a3c3ce;
}
.th_orange-bg {
  background-color: #d89e5b;
}
#th_grey-bg {
  color: #fff;
  background-color: #6e6d6d;
}
#large {
  width: 400px;
  background-color: #a5a1a1;
}
.tarifs_table {
  margin: 20px;
  text-decoration: underline;
}
.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: lighten(#267b8a, 10%);
  font-weight: bold;
  color: #fff;
}
@media only screen and (min-width: 785px) and (max-width: 950px) {
  .table {
    font-size: 0.7em;
  }
  .table td {
    padding: 0em;
    height: 80px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 784px) {
  .table {
    font-size: 0.7em;
    margin: 100px 5px;
  }
  .table td {
    padding: 0em;
    height: 80px;
  }
  .table th {
    padding: 0em;
    height: 80px;
  }
  .tarifs_table {
    text-align: center;
  }
  .lowRes_catalogue_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lowRes_catalogue_txt,
  .lowRes_catalogue_btn {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
.displayDownload {
  display: inline;
}

//     PROGRAMME.VUE        //

.prog_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &__title {
    order: 2;
    margin-top: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
  }
  &__title h1 {
    text-transform: uppercase;
  }
  &__img {
    order: 1;
    width: 12rem;
  }
}
.container_programme {
  flex-direction: column;
}
.prog_separator {
  border-top: 1px solid #000;
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}
.navbar_programme {
  flex-direction: column;
  background-color: #fff;
  margin-top: 100px;
  line-height: 3em;
  text-align: center;
}
.navbar h3 {
  margin-bottom: 30px;
}
#bottomSeparator {
  margin-top: 70px;
}
#centre_formation,
#action_formation,
#calendrier {
  display: flex;
  flex-direction: row;
  margin: 200px;
  @media only screen and (max-width: 784px) {
    flex-direction: column;
    margin-left: 50px;
  }
}
.centre {
  &__left h4 {
    margin: 40px -50px 30px;
    text-transform: uppercase;
  }
  &__left h4 span {
    margin-right: 40px;
  }
  &__left li {
    list-style-type: disc;
    margin-left: 15px;
  }
  &__right {
    margin-top: 70px;
    margin-left: 40px;
  }
}
.programme_tarifs {
  margin: 20px;
}
.programme_tarifs li {
  list-style-type: none;
}
.programme_tarifs li:before {
  content: "\2014";
  position: absolute;
  margin-left: -20px;
}

//    BACKTOTOP   //

.back-to-top-btn {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  right: 20px;
  color: #ffffff;
  background-color: #6faeb9;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.6s;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  i {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    transform: translateY(-45%);
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &.go-top {
    opacity: 1;
    visibility: visible;
    bottom: 50px;
  }
  &:hover {
    background-color: #6faeb9;
    color: #ffffff;
    transition: 0.6s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
}

//   SIGNIN    //

form {
  margin: 0 auto;
  margin-top: 100px;
  //background: $background_low_contrast;
  border-radius: 20px;
  box-shadow: 5px 6px 5px;
  padding: 2rem;
  width: 550px;
  @media screen and (min-width: 320px) and (max-width: 375px){
    width: 300px;
    padding: 1.2rem;
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    width: 360px;
    padding: 1rem;
  }
  @media screen and (min-width: 426px) and (max-width: 768px){
    width: 420px;
    padding: 2rem;
  }
}
.form_header {
  text-align: center;
  margin-bottom: 100px;
}
.field {
  padding: 10px;
}
.field.is-grouped {
  justify-content: center;
}